
# Archivos y carpetas de Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.backup
*.log

# Lock file (puede ignorarse si no quieres fijar versiones)
.terraform.lock.hcl

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/
